GEMINI_API_KEY=
APP_URL=https://pizza-city-oman-backend-45805426436.asia-southeast1.run.app/
MONGODB_URI=mongodb://mongo:plJbKOFFDQeBluMIwxNiStUEghouATVh@thomas.proxy.rlwy.net:19342
ADMIN_USERNAME=pizzacity
ADMIN_PASSWORD=pizzacityoman
